@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Instrument+Sans:ital,wght@0,400;0,500;1,400&family=Inter:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply m-0 font-instrument bg-dark-bg text-white antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-audiowide;
  }

  /* Styles pour les sliders */
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #0389A6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #0389A6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  }

  input[type="range"]::-webkit-slider-track {
    height: 10px;
    border-radius: 5px;
  }

  input[type="range"]::-moz-range-track {
    height: 10px;
    border-radius: 5px;
  }
}
